.post{
    background-color: #fff;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    font-family: "Calibri light", sans-serif;   
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 18px 13px;
}

.title__block{
    display: flex;
    gap: 8px
}

.title__block h3{
    font-size: 20px;
    color: #333;
    cursor: pointer;
}

.date{
    display: flex;
    align-items: center;
    color: rgba(167, 167, 167, 1);
    font-size: 13px;
    gap: 4px;
}

.date span{
    margin-bottom: -3px;
}

.description__block{
    margin-top: 20px;
    font-size: 15px;
    & p{
        cursor: pointer;
        color: #333 !important;
        overflow-wrap: anywhere;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.right {
    min-height: 100%;
}

.right > ul{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 6px;
    height: 100%;
    justify-content: space-between;
}

.comment {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #FCFCFC;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
}

.views {
    display: flex;
    align-items: center;
    color: rgba(155, 155, 155, 1);
    font-size: 14px;
    gap: 5px;
    margin-bottom: 4px;
}