.title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 34px;
    margin-top: 10px;
}

.posts__wrapper{
    margin-top: 20px;
}

.posts__wrapper > div {
    margin-bottom: 15px;
}

.loader__wrapper{
    background: #fff;
    padding: 10px 15px;
}
