.password{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.password::before{
    content: '';
    z-index: 2;
    position: absolute;
    top: 15px;
    left: 18px;
    width: 15px;
    height: 18px;
    background: url('./../../../../assets/images/entrance__icons/password.svg') no-repeat;
}

.inputs input[name="password"]{
    padding-right: 35px;
}


.password button{
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border:none;
    background: transparent;
    margin-bottom: 10px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}
