.form{
    width: 100%;
}

.form > * {
    width: 100%;
}

.navigator{
    margin-top: 20px;
    padding-left: 20px;    
}

.links{
    font-size: 20px;
    font-family: "Calibri light", sans-serif;
    color: #333333CC;
}

.links.active{
    color: #4B6DE3;
}

.org{
    margin-left: 30px;;
}