.post__wrapper{
    background: #fff;
    padding: 10px 0;
    margin-bottom: 15px;
}

.post{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left{
    display: flex;
    gap: 5px;
    align-items: center;
}

.ava{
    width: 40px;
    height: 40px;
    background: #D9D9D9;
    border-radius: 50%;
    cursor: pointer;
}

.post__title > a {
    cursor: pointer;
}

.post__title h3 {
    overflow-wrap: anywhere;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 15px;
}

.description__club h2{
    font-family: 'Calibri light', sans-serif;
    font-weight: 300;
    font-size: 15px;
    cursor: pointer;
    color: #333333;
}

.description__club > span{ 
    font-family: 'Calibri light', sans-serif;
    font-weight: 300;
    position: relative;
    margin-left: 13px;
    font-size: 13px;
}

.description__club > span::before{
    content: '';
    position: absolute;
    background: url('./../../../../assets/images/post__icons/date_of_adding_post.svg') no-repeat;
    top: 2px;
    left: -12px;
    width: 10px;
    height: 10px;
}

.header__right > button {
    background: transparent;
    outline: none;
    border: 0.7px solid #333333;
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Calibri light', sans-serif;
    font-size: 15px;
    color: #333333F2;
}

.header__right > button:hover{
    cursor: pointer;
}

.post__body{
    margin-top: 10px;
}

.pagging{
    width: 25px;
    height: 2px;
    background: #fff;
    position: absolute;
    border-radius: 5px;
    margin-top: 20px;
}

.slick-active > div{
    background: #4B6DE3;
  }

.post__slide{
    width: 100%;
    min-height: 160px;
    max-height: 200px;
    background: #D9D9D9;
    border-radius: 8px;
    overflow: hidden;
}

.post__slide > img{
    height: 100%;
    width: 100%;
}


.like {
    --color: #1E2235;
    --color-hover: #1E2235;
    --color-active: #fff;
    --icon: #BBC1E1;
    --icon-hover: #8A91B4;
    --icon-active: rgba(75, 109, 227, 1);
    --border: #E1E6F9;
    --border-active: #362A89;
    --shadow: #{rgba(#001177, .025)};
    display: block;
    outline: none;
    cursor: pointer;
    position: relative;
    border: 0;
    background: none;
    border-radius: 9px;
    line-height: 27px;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    color: var(--color);
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    transition: color .2s linear;
    &:hover {
        --icon: var(--icon-hover);
        --color: var(--color-hover);
        --border-width: 2px;
    }
    &:active {
        --scale: .95;
    }
    &:not(.liked) {
        &:hover {
            --hand-rotate: 8;
            --hand-thumb-1: -12deg;
            --hand-thumb-2: 36deg;
        }
    }
    &.liked {
        --span-x: 2px;
        --span-d-o: 1;
        --span-d-x: 0;
        --icon: var(--icon-active);
        --color: var(--color-active);
        --border: var(--border-active);
    }
    &:before {
        content: '';
        min-width: 25px;
        position: absolute;
        left: -10px;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: inherit;
        transition: background .2s linear, transform .2s, box-shadow .2s linear;
        transform: scale(var(--scale, 1)) translateZ(0);
        background: var(--background);
        box-shadow: inset 0 0 0 var(--border-width, 1px) var(--border), 0 4px 8px var(--shadow), 0 8px 20px var(--shadow);
    }
    .hand {
        width: 11px;
        height: 11px;
        border-radius: 2px 0 0 0;
        background: var(--icon);
        position: relative;
        margin: 10px 8px 0 0;
        transform-origin: -5px -1px;
        transition: transform .25s, background .2s linear;
        transform: rotate(calc(var(--hand-rotate, 0) * 1deg)) translateZ(0);
        &:before,
        &:after {
            content: '';
            background: var(--icon);
            position: absolute;
            transition: background .2s linear, box-shadow .2s linear;
        }
        &:before {
            left: -5px;
            bottom: 0;
            height: 12px;
            width: 4px;
            border-radius: 1px 1px 0 1px;
        }
        &:after {
            right: -3px;
            top: 0;
            width: 4px;
            height: 4px;
            border-radius: 0 2px 2px 0;
            background: var(--icon);
            box-shadow: -.5px 4px 0 var(--icon), -1px 8px 0 var(--icon), -1.5px 12px 0 var(--icon);
            transform: scaleY(.6825);
            transform-origin: 0 0;
        }
        .thumb {
            background: var(--icon);
            width: 12px;
            height: 4px;
            border-radius: 2px;
            transform-origin: 2px 2px;
            position: absolute;
            left: 0;
            top: 0;
            transition: transform .25s, background .2s linear;
            transform: scale(.85) translateY(-.5px) rotate(var(--hand-thumb-1, -45deg)) translateZ(0);
            &:before {
                content: '';
                height: 4px;
                width: 7px;
                border-radius: 2px;
                transform-origin: 2px 2px;
                background: var(--icon);
                position: absolute;
                left: 7px;
                top: 0;
                transition: transform .25s, background .2s linear;
                transform: rotate(var(--hand-thumb-2, -45deg)) translateZ(0);
            }
        }
    }
    .hand,
    span {
        display: inline-block;
        vertical-align: top;
        span {
            opacity: var(--span-d-o, 0);
            transition: transform .25s, opacity .2s linear;
            transform: translateX(var(--span-d-x, 4px)) translateZ(0);
        }
    }
    & > span {
        transition: transform .25s;
        transform: translateX(var(--span-x, 4px)) translateZ(0);
    }
}

.like{
    margin-top: -9px;
    margin-left: 8px;
    margin-right: -3px;
}


.post__title h3{
    font-family: 'Calibri light', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #333333;
}

.post__footer{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.footer__list{
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer__list > li > button {
    background: transparent;
    border: none;
    outline: none;
}

.footer__list > li > button:hover{
    cursor: pointer;
}

.post__views > strong{
    font-size: 14px;
    font-family: 'Calibri light', sans-serif;
    font-weight: 300;
    color: #9B9B9B;
    position: relative;
}

.post__views > strong::before{
    content: '';
    position: absolute;
    background: url('./../../../../assets/images/post__icons/Views.svg') no-repeat;
    height: 15px;
    width: 18px;
    left: -20px;
    top: 0px;
}

.footer__right{
    display: flex;
    gap: 30px;
}

.post__date{
    color: #9B9B9B;
}

