.container{
    position: fixed !important;
    /* bottom: -200px; */
    /* top: 200px; */
    bottom: -200px;
    left: 4%;
    right: 4%;
    background-color: rgba(45, 45, 47, 1);
    transition: bottom 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 14px 16px;
    justify-content: space-between;
    border-radius: 20px;
    overflow: hidden;
}

.popUpVisible {
    bottom: 15px;
}

.popUpNonVisible {
    bottom: -200px;
}

@keyframes moving {
    100% {transform: rotate(-360deg);}
}

.loading {
    margin: 0 auto;
    animation: moving 1.5s infinite linear;
}

.checkMark {
    margin: 0 auto;
}