.describe__images > img{
    border-radius: 8px;
    margin-top: 32px;
    margin-bottom: 15px;
    height: 100%;
    width: 100%;
}
.describe__title > h3{
    font-family: 'Calibri light', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 25px;
}
.describe__of_post > h2{
    font-family: 'Calibri light', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #333333;
    margin-bottom: 40px;
}
.describe__button > button{
    width: 160px;
    min-height: 25px;
    background-color: #FFFFFF;
    outline: none;
    border-radius: 15px;
    border: 0.7px solid #333333;
    font-size: 12px;
    font-family: "Calibri light", sans-serif;
    color: #333333;
    cursor: pointer;
    margin-bottom: 90px;
}